@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textFadeLoop {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes block {
  0% {
    left: 400px;
  }
  100% {
    left: -50px;
  }
}

.animated-gradient {
  background-size: 200% 200%;
  background-image: linear-gradient(90deg, #f5e507, /* yellow-600 */ #9c3af8, /* purple-600 */ #2c6efd /* blue-600 */);
  animation: gradientBG 5s ease infinite;
}

.animated-pipe {
  animation: block 2s infinite linear;
}

.animated-title-loop {
  font-size: 15rem; /* Adjust font size as needed */
  color: transparent;
  background-image: linear-gradient(90deg, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  animation: textFadeLoop 2s ease 1;
}

.choices button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #eee4da;
  transition: all 0.2s;
}

.bg-2 {
  background-color: #eee4da;
}

.bg-4 {
  background-color: #ede0c8;
}

body {
  overscroll-behavior: none;
}
